@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply tracking-tighter;
    }
}

@layer components {
    .description{
        color: #5c5c5c;
        text-align: center;
        font-size: 12px;
        line-height: 1.25;
        font-weight: 500;
    }
}